*{
  margin: 0;
  padding: 0;
  font-family: verdana;
}
.banner{
  background-color: #EEE3CB ;
  height: 300px;
  text-align:center;
  color: #000000;
  margin-top: 50px;
}
.banner img{
  border-radius: 100px;
  height: 150px;
  border: 6px solid white;
  margin-top: 50px;   
}
body {
font-family: Arial, sans-serif;
margin: 20px;
}

label {
display: block;
margin-bottom: 5px;
}

input, select {
margin-bottom: 10px;
}

#options {
display: none;
margin-top: 20px;
}

#result {
display: none;
margin-top: 20px;
}
